



.container_1 {
    background-color: blue;
    border-color: red;
    padding: 100px;
    
    width: auto;
    height:auto;
   border-style: ridge;
   display:flex;
   
}
.item1{
    flex: 1;
    color:blueviolet;
}
.item2{
    flex: 1;
}
.item3{
    flex: 1;
}
.item3{
    flex:1;
}